$COLS : 12;
$GUTTER_WIDTH : 1%;
$UNIT_SIZE : (100% / $COLS);
$MOBILE_THRESHOLD : 35.5em;
$ROW_MARGIN : 10px;

.row {
  display: block;
  margin-top:10px;
}

.col {
  max-width: 100%;
  flex: 0 0 auto;
  margin: 10px $GUTTER_WIDTH 0 $GUTTER_WIDTH;
  border:1px dotted #BBB;
}

@mixin col($cols) {
  flex-basis:($cols * $UNIT_SIZE) - ($GUTTER_WIDTH * 2);
}

@mixin offset($cols){
  margin-left:$cols * $UNIT_SIZE;
}

// Basic column widths for mobile
@for $i from 1 through 12 {
  .sm-#{$i} { @include col($i) }
}

@media (min-width: $MOBILE_THRESHOLD) {

  // Turn on a grid layout
  .row {
    display: flex;
    flex-direction: row;
  }

  // Basic column widths
  @for $i from 1 through 12 {
    .md-#{$i} { @include col($i) }
  }
  
}

// Basic column offset
 @for $i from 1 through 12 {
  .off-#{$i} { @include offset($i) }
}