$COLS : 12;
$CONTAINER_WIDTH : 100%;
$GUTTER_WIDTH : 1%;

$UNIT_SIZE : (100% / $COLS);
$TOP_MARGIN : 10px;

// Viewport breakpoints
$SM : 35.5em;
$MD : 48em;
$LG : 64em;
$XL : 80em;

.container {
  width: $CONTAINER_WIDTH;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: block;
}

.col {
  margin: $TOP_MARGIN $GUTTER_WIDTH 0 $GUTTER_WIDTH;
}

@mixin col($cols) {
  flex-basis:($cols * $UNIT_SIZE) - ($GUTTER_WIDTH * 2);
  max-width:($cols * $UNIT_SIZE) - ($GUTTER_WIDTH * 2);
}

@mixin offset($cols) {
  margin-left:$cols * $UNIT_SIZE;
}

// Column widths for mobile
@for $i from 1 through $COLS {
  .sm-#{$i} { @include col($i) }
}

// Column offset
@for $i from 1 through $COLS {
  .off-#{$i} {
    @include offset($i)
  }
}

@media (min-width: $SM) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .hidden-md {
    display: none;
  }

  // Basic column widths
  @for $i from 1 through $COLS {
    .md-#{$i} { @include col($i) }
  }
}

@media (min-width: $MD) {
  @for $i from 1 through $COLS {
    .lg-#{$i} { @include col($i) }
  }
}

@media (min-width: $LG) {
  @for $i from 1 through $COLS {
    .xl-#{$i} {
      @include col($i)
    }
  }
}